@import "tailwindcss";

@theme {
    --animate-float-up: float-up 2.5s ease-out forwards;

    @keyframes float-up {
        0% {
            transform: translateY(0) scale(0.5);
            opacity: 0;
        }

        10% {
            opacity: 1;
            transform: translateY(-20px) scale(1.2);
        }

        100% {
            transform: translateY(-600px) scale(1) rotate(20deg);
            opacity: 0;
        }
    }
}